{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main_index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'main/js/jquery.js' %}"></script>

    {% leaflet_js %}
    {% leaflet_css %}

</head>
<body>
    <div class="block-right">
        <h1>stored coordinates</h1>
        {% for el in coordinates %}
            {{ el.lat_lng }}<br>
        {% endfor %}
    </div>

    <script type="text/javascript">var csrftoken = '{{ csrf_token }}';</script>
    <script type="text/javascript" src="{% static 'main/js/leaflet_map.js' %}"></script>

   {% leaflet_map 'map' callback='window.map_init_basic' %}
</body>
</html>